@import "../../../common.scss";

.item {
    height: 48px;
    display: flex;
    align-items: center;
    margin: 0 2px;
    padding: 0 24px;
    border-radius: $border-radius;
    transition: $transition;
    color: $color;

    &:hover {
        background-color: $color-hover;
        color: white;
    }
}

.nav {
    top: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: $shadow;
    background-color: $base-color;
    transition: $transition;
    height: $nav-size;
    padding: 0 $side-padding;
    z-index: 1;
}

.logo {
    height: 56px;
    width: 56px;
}